<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Project Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/projects/list">Projects <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile/list">Profile</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" href="logout">
          <a class="nav-link" href="/logout">Logout</a>
        </button>
      </form>
    </div>
  </nav>