<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <%# <div class="alert alert-secondary" role="alert">
  A simple secondary alert—check it out!
</div> %>

<div class="jumbotron" style="">

  <h1 class="display-4">PROJECT MANAGEMENT SYSTEM</h1>
  <form method="post" action="/login">

  <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="Username">
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="Password">
  <button type="submit" class="btn btn-primary">Sign In</button>
  </div>
  
  </form>
  

</div>
  </body>
</html>
